<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title th:text="#{hello}">Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-primary" value="注销"/>
</form>
<div sec:authentication="name"></div>
<div sec:authorize="hasAuthority('admin')">管理员才能看见</div>
<div sec:authorize="hasAuthority('user')">管理员和普通用户都能看见</div>
<a th:href="@{/(lang=zh_CN)}">中文</a>
<a th:href="@{/(lang=en_US)}">英文</a>
<a onclick="test()">test</a>
<div th:if="${#locale.toString() == 'zh_CN'}">中文环境</div>
<div th:if="${#locale.toString() == 'en_US'}">英文环境</div>
<div th:replace="fragment/contextPath :: contextPath"></div>
<script src="../static/frame/jQuery/jquery-1.10.1.min.js" th:src="@{/frame/jQuery/jquery-1.10.1.min.js}"></script>
<div th:replace="fragment/i18nResource :: i18nProperties"></div>
<div th:replace="fragment/i18nResource :: languageExtensions"></div>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>