<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{hello}">Title</title>
</head>
<body>
<a th:href="@{/(lang=zh_CN)}">中文</a>
<a th:href="@{/(lang=en_US)}">英文</a>
<a onclick="insertKpi(999999,'ssw2')">存储</a>
<div th:replace="fragment/contextPath :: contextPath"></div>
<script src="../static/frame/jQuery/jquery-1.10.1.min.js" th:src="@{/frame/jQuery/jquery-1.10.1.min.js}"></script>
<div th:replace="fragment/i18nResource :: i18nProperties"></div>
<div th:replace="fragment/i18nResource :: languageExtensions"></div>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>